body {
    background: linear-gradient(#E0F7FA, #B2EBF2);
    color: #0D3B66;
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    font-family: 'Bonheur';
    font-size: 3rem;
    margin-top: 2rem;
    color: #0D3B66;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
}

h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
    color: #4E8098;
}

a {
    text-decoration: none;
}