button, .modify-a {
    background-color: #FF6F61;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modify-a,
.delete-btn {
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}


.modify-a:hover, button:hover{
    background-color: transparent;
    border: 2px solid #FF6F61;
    color: #FF6F61;
}

/* Supprimer bouton */
.delete-btn {
    background-color: transparent;
    color: #FF6F61;
    border: 2px solid #FF6F61;
    margin-top: 1rem;
    transition: 0.3s ease-in-out;
}

.delete-btn:hover {
    background-color: #FF6F61;
    color: white;
}