form {
    background-color: #ffffffcc;
    backdrop-filter: blur(6px);
    padding: 3rem;
    width: 50%;
    border-radius: 16px;
    margin: 2rem auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #B2EBF2;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1.5rem;
}
.form-label {
    font-weight: bold;
    color: #0D3B66;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    display: block;
    padding: 0.75rem 1rem;
    border: 2px solid #B2EBF2;
    border-radius: 10px;
    background-color: #E0F7FA;
    color: #0D3B66;
    font-size: 1rem;
    transition: border 0.3s, box-shadow 0.3s;
}

.form-input:focus {
    border-color: #FF6F61;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 111, 97, 0.5);
    background-color: #ffffff;
}

//FORM DELETE
.form-delete {
    all: unset;
}


//TOPINGS

.toppings {
    margin-top: 1rem;

    .checkbox-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 0.5rem;
    }

    .checkbox-grid label {
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        padding: 8px 12px;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.2s ease;

        input {
        margin-right: 8px;
        }

        &:hover {
        background-color: #e0e0e0;
        }
    }
}

.toppings-list {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.topping-badge {
  background: #ffeaea;
  color: #a52a2a;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  transition: background 0.3s;
}

.topping-badge:hover {
  background: #ffd6d6;
}

.no-topping {
  font-style: italic;
  color: #999;
}